<!-- footer.handlebars -->

<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-md-6">
        <nav>
          <div class="footer-links">
            <p>Created by the RESTful-API's for UC Berkeley ED-X Program</p>
            &copy; 2023 National Parks Reviewer 5000. All Rights Reserved.
            <a href="https://github.com/jhdk707/NationalParksReviewer5000" class="button is-info">GitHub</a>
            
          </div>
        </nav>
      </div>
      {{!-- <div class="col-md-6">
        <div class="footer-text">
          <p>Created by the RESTful-API's for UC Berkeley ED-X Program</p>
        </div>
      </div> --}}
    </div>
  </div>
</footer>
