<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>National Parks Reviews!</title>
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  {{> header}}
{{{body}}}
  {{#if session.user}}
    {{> dashboard}}
  {{else}}
    {{> login}}
  {{/if}}

  <script src="/js/login.js"></script>

</body>
</html>
