<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>National Parks Reviews!</title>
  <link href="/css/reset.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
</head>

<body>
  {{> header}}
  <div class="typed"><span class="typed-text"></span></div>
{{{body}}}
  {{#if session.user}}
    {{> dashboard}}
  {{else}}
    {{> login}}
  {{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script>
    gsap.from('#login-section', {duration: 1.5, y: '-100%', ease: 'bounce'})
    gsap.from('#signup-section', {duration: 1.5, y: '-100%', ease: 'bounce'})
  </script>
  <script>
    var typed = new Typed('.typed-text', {
      strings: ["National Parks Reviews!", "Find your next adventure!", "Share your experiences!"],
      typeSpeed: 50,
      backSpeed: 50,
      showCursor: false,
      loop: true
    });
  </script>

</body>
</html>
