{{!-- <body>

	{{> header}}

	<div class="container">

		<h1 class="title has-text-centered">Contact Us</h1>

		<div class="columns is-multiline">

			<div class="column is-one-quarter-desktop is-half-tablet">

				<h2 class="subtitle">Email 1</h2>
				<p><a href="mailto:email1@example.com">email1@example.com</a></p>

				<h2 class="subtitle">GitHub Profile 1</h2>
				<p><a href="https://github.com/profile1">Profile 1</a></p>

			</div>

			<div class="column is-one-quarter-desktop is-half-tablet">

				<h2 class="subtitle">Email 2</h2>
				<p><a href="mailto:email2@example.com">email2@example.com</a></p>

				<h2 class="subtitle">GitHub Profile 2</h2>
				<p><a href="https://github.com/profile2">Profile 2</a></p>

			</div>

			<div class="column is-one-quarter-desktop is-half-tablet">

				<h2 class="subtitle">Email 3</h2>
				<p><a href="mailto:email3@example.com">email3@example.com</a></p>

				<h2 class="subtitle">GitHub Profile 3</h2>
				<p><a href="https://github.com/profile3">Profile 3</a></p>

			</div>

			<div class="column is-one-quarter-desktop is-half-tablet">

				<h2 class="subtitle">Email 4</h2>
				<p><a href="mailto:email4@example.com">email4@example.com</a></p>

				<h2 class="subtitle">GitHub Profile 4</h2>
				<p><a href="https://github.com/profile4">Profile 4</a></p>

			</div>

		</div>

	</div>

</body> --}}