<form class="login-form">

  <h2 class="text-center">Log in</h2>
  <div class="form-group">
    <input type="email" id="email-login" name="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" id="password-login" name="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" id="login-btn" type="submit">Log in</button>
  </div>
  <p class="text-center">Don't have an account? <a href="/signup">Sign up here</a></p>
</form>
<script src="/js/login.js"></script>
