/* CSS Created 3/30/23 by Jesse Hudak, Robert Lee, Paige Girardi and Robert Lee

===== COLOR PALLET =====
Created with Coolors.com 
Oxford Blue: #011936 
Charcoal: #465362
Cambridge Blue: #82A3A1 
Olivine: #94C490
Tea Green: #C0DFA1 



*/

html {
  margin: 0;
  background-image: url("https://images.pexels.com/photos/640907/pexels-photo-640907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  height: 100%;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
}

.navbar {
  height: 150px;
  background-color: #011936;
}

.navbar img {
  max-height: 100%;
}

.navbar-item,
.navbar-link {
  color: bisque;
}

.typed {
  color: bisque;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: dotted;
  padding-top: 10px;
  margin-right: 15px;
}
